$bck-color: #333;
$main-color: #ccc;
$hand-color: #ccc;
$accent-color: #DB162F;

@keyframes small {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    82% {
        opacity: .2;
    }

    98% {
        opacity: .2;
    }
}

@keyframes medium {
    30% {
        opacity: .2;
    }
    33% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    82% {
        opacity: .2;
    }
}

@keyframes large {
    60% {
        opacity: .2;
    }
    63% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }
    82% {
        opacity: .2;
    }
}



.wifi {
    display: none;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    background-color: $bck-color;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wifi__shape {
    position: relative;
    background-color: $bck-color;
    width: 70%;
    height: 70%;
    //perspective, translateZ and backface-visibility to remove unwanted border;
    transform: rotate(45deg) perspective(999px) translateZ(1px);
    backface-visibility: hidden;
    bottom: 0%;
    overflow: hidden;
}

.wifi__circle {
    box-sizing: border-box;
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 50%;
    width: 150%;
    height: 150%;
    background-color: $main-color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.wifi__circle::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-color: $bck-color;
}

.wifi__circle--big {
    opacity: .2;
    animation-name: large;
}

.wifi__circle--medium {
    opacity: .2;
    left: 40%;
    top: 40%;
    width: 90%;
    height: 90%;
    z-index: 2;
    animation-name: medium;
}

.wifi__circle--medium::before {
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
}

.wifi__circle--small {
    left: 70%;
    top: 70%;
    width: 30%;
    height: 30%;
    z-index: 3;
    animation-name: small;
}

.wifi__circle--small::before {
    display: none;
}
