* {
  box-sizing: border-box;
}

body {
  background-color: #444;
  color: #ccc;
}

.mainContainer {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1%;
}

.imageContainer {
  background-color: #333;
  padding: 10%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.battery {
  margin: auto;
  width: 120px;
  height: 200px;
  position: relative;
}

.battery__cell {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #ccc;
}

.battery__cell:after {
  content: "";
  background-color: #333;
  width: 90%;
  height: 90%;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.battery__plus {
  background-color: #ccc;
  position: absolute;
  width: 50%;
  height: 8%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.battery__bar {
  background-color: #ccc;
  content: "";
  position: absolute;
  width: 75%;
  height: 20%;
  left: 12.5%;
  z-index: 2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.battery__bar--bottom {
  bottom: 12.5%;
  animation-name: bottom;
}

.battery__bar--middle {
  opacity: 0;
  bottom: 40%;
  animation-name: middle;
}

.battery__bar--top {
  opacity: 0;
  bottom: 67.5%;
  animation-name: top;
}

@keyframes bottom {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  82% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
}
@keyframes middle {
  30% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  82% {
    opacity: 0;
  }
}
@keyframes top {
  60% {
    opacity: 0;
  }
  63% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  82% {
    opacity: 0;
  }
}
.clock {
  width: 200px;
  height: 200px;
  position: relative;
  margin: auto;
  background-color: #ccc;
  border-radius: 50%;
}

.clock__inside {
  position: relative;
  left: 0;
  right: 0;
  top: 5%;
  margin: auto;
  background-color: #333;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.clock__centerCircle {
  background-color: #ccc;
  width: 8%;
  height: 8%;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 46%;
  left: 0;
  right: 0;
}

.clock__hand {
  position: absolute;
  background-color: #ccc;
  height: 45%;
  width: 1%;
  left: 0;
  right: 0;
  margin: auto;
  top: 5%;
  transform-origin: 50% 100%;
}

.clock__hand--seconds {
  background-color: #DB162F;
}

.clock__hand--minutes {
  width: 1.5%;
}

.clock__hand--hours {
  width: 2.5%;
  height: 30%;
  top: 20%;
}

.wifi {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  background-color: #000;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wifi__shape {
  position: relative;
  background-color: red;
  width: 70%;
  height: 70%;
  transform: rotate(45deg);
  bottom: 0%;
  overflow: hidden;
}

.wifi__circle {
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  top: 0%;
  border-radius: 50%;
  width: 150%;
  height: 150%;
  background-color: #ccc;
}

.wifi__circle::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 6%;
  top: 6%;
  border-radius: 50%;
  width: 88%;
  height: 88%;
  background-color: #444;
}

/*# sourceMappingURL=style.css.map */
